.plant-card{
    padding: 5px 20px;
    border-radius: 10px;
    margin: 20px ;
    position: relative;
    width: 500px;
    height: 140px;    
    background-color: #ffffff;
    color: #143114;
    box-shadow: 5px 5px 15px 2px black;
}
.plant-title{
    font-size: 20px;
}
.plant-card-image{
    height: 95px;
    width: 120px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    right: 10px;
}
.plant-info{
    margin: 0px;
    padding: 0px;
}
.plant-card-action-btn{
    color: white;
    background-color: #143114; 
    margin: 10px; 
    border-radius: 5px; 
    cursor: pointer;
    padding: 2px 15px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .plant-title{
        font-size: 14px;
    }
    .plant-info{
        font-size: 12px;
    }
    .plant-card-action-btn{
        font-size: 12px;
    }
    .plant-card-image{
        width: 110px;
    }
}